@import url("./animation.css");

.button {
  width: 100%;
  transition: background-color 200ms ease 0s, opacity 0.01s ease 400ms;
  background-color: rgb(19, 216, 246);
  outline: none;
  border: none;
  cursor: pointer;
  animation: fadeIn 1s ease;
}
.button > span {
  color: rgb(1, 1, 1);
  font-size: 0.8125rem;
  letter-spacing: 0.15em;
  font-weight: bold;
  text-transform: uppercase;
}

.button.defaultSize {
  min-width: 195px;
  max-width: 195px;
  width: 195px;
  height: 56px;
  max-height: 56px;
}
.btn-canvas-container {
  position: absolute;
  top: -4.5px;
  left: -5px;
}

.champion-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: #d0a85c;
  max-height: 31px;
  border: none;
  outline: none;
  min-width: 230px;
  padding: 12px 25px;
  cursor: pointer;
}

.champion-btn.play {
  margin-left: 20px;
  background-color: #0bc6e3;
}
.champion-btn:before,
.champion-btn:after {
  height: 15px;
  width: 15px;
  background: white;
  position: absolute;
  content: "";
  transition: all 0.2s ease;
}
.champion-btn:before {
  top: 0;
  left: 0;
  border: none;
  outline: none;
  transform: rotate(49deg) translate(-71%);
}
.champion-btn:after {
  bottom: 0;
  right: 0;
  border: none;
  outline: none;
  transform: rotate(49deg) translate(71%);
}
.champion-btn:hover:before,
.champion-btn:hover:after {
  height: 0;
  width: 0;
}

.champion-btn > span {
  font-size: 10px;
  letter-spacing: 0.1em;
  font-weight: 500;
  text-align: center;
  color: rgb(255, 255, 255);
}

@media only screen and (max-width: 768px) {
  .button.defaultSize {
    min-width: 110px;
    max-width: 110px;
    width: 110px;
    height: 35px;
    max-height: 35px;
  }
  .button > span {
    color: rgb(1, 1, 1);
    font-size: 10px;
    letter-spacing: 0.15em;
    font-weight: bold;
    text-transform: uppercase;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
