.banner-section {
  margin-top: 80px;
}
.news-section {
  padding-top: 130px;
  min-height: 400px;
  background-image: url("/img/background.png");
  background-repeat: repeat;
  background-size: contain;
}
.champion-wrapper,
.news-wrapper {
  max-width: 1520px;
  margin: 0 auto;
}
.champion-wrapper {
  position: relative;
  z-index: 2;
}
.champion-section {
  min-height: 1000px;
  position: relative;
  z-index: 2;
}

.champ-skin-section {
  margin-top: -100px;
}

.mode-section {
  height: 100vh;
}

.mode-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.start-section {
  position: relative;
  min-height: 800px;
  background-color: rgb(3, 6, 8);
}

.reprentnews-section {
  background-image: url("/img/background.png");
  background-repeat: repeat;
  background-size: contain;
}
