.banner-section {
  margin-top: 80px;
}
.news-section {
  padding-top: 130px;
  min-height: 400px;
  background-image: url("/img/background.png");
  background-repeat: repeat;
  background-size: contain;
}
.champion-wrapper,
.news-wrapper {
  max-width: 1520px;
  margin: 0 auto;
}
.champion-wrapper {
  position: relative;
  z-index: 2;
}
.champion-section {
  min-height: 1000px;
  position: relative;
  z-index: 2;
}

.champ-skin-section {
  margin-top: -100px;
}

.mode-section {
  height: 100vh;
}

.mode-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.start-section {
  position: relative;
  min-height: 800px;
  background-color: rgb(3, 6, 8);
}

.reprentnews-section {
  background-image: url("/img/background.png");
  background-repeat: repeat;
  background-size: contain;
}

@media only screen and (max-width: 768px) {
  .news-section {
    padding-top: 0px;
    padding: 0 20px;
  }
  .champ-skin-section {
    margin-top: 100px;
    background: #000;
    display: block;
  }
  .mode-section {
    overflow-x: hidden;
    height: unset;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .news-section {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
  }
  .mode-section {
    overflow-x: hidden;
    height: unset;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .mode-section {
    overflow-x: hidden;
    height: unset;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
